<% if object != nil && object.errors.any? %>
	<div>
		<div>
			<p>
				The form contains <%= pluralize(object.errors.count, "error") %>.
			</p
		</div>

		<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
